{% extends "base.html" %}

{% block content %}
<h1>Landlord List</h1>
{% if landlord_list %}
<ul>
  {% for landlord in landlord_list %}
  <li>
    {{landlord.name}}
    {% if landlord.case_set.all %}
    <ul>
      {% for address in landlord.case_set.all %}
      <li>
        <span>{{address.address.address1}}</span><br>
        {% if address.address.address2 %}<span>{{address.address.address2}}<br></span>{% endif %}
        {% if address.address.address3 %}<span>{{address.address.address3}}<br></span>{% endif %}
        <span>{{address.address.city}}<br></span>
        <span>{{address.address.zip_code}}<br></span>
      </li>
      {% endfor%}
      </br>
    </ul>
    {% endif %}
  </li>
  {% endfor %}<br>
</ul>
{% else %}
<p>There are no landlords in the library.</p>
{% endif %}
{% endblock %}